@import url('https://fonts.googleapis.com/css?family=Anton|Pinyon+Script|Poiret+One');

/*font-family: 'Poiret One', cursive; (Date)
font-family: 'Anton', sans-serif; (H1)
font-family: 'Pinyon Script', cursive; (Signature)
font-family: 'Arial', sans-serif; (Body)*/



/* ----mobile---- */
/*p .page-title {
    font-family: 'Anton', sans-serif;
    color: #000000;
    font-size: _px;
}


p .no-messages {
    font-family: 'Arial', sans-serif;
    color: #000000;
    font-size: _px;
}


p .date {
    font-family: 'Poiret One', cursive;
    color: #000000;
    font-size: _px;
}


p .blog-title {
    font-family: 'Anton', sans-serif;
    color: #00b7ef;
    font-size: _px;
}


p .blog-text {
    font-family: 'Arial', sans-serif;
    color: #c1bfc0;
    font-size: _px;
}


p .signature {
    font-family: 'Pinyon Script', cursive;
    color: #000000;
    font-size: _px;
}*/





/* ----desktop---- */
/*@media only screen and (min-width: 768px) {*/


#headline {
    font-family: 'Anton', sans-serif;
    color: #000000;
    font-size: 40px;
    text-align: center;
}


#no-messages {
    font-family: 'Arial', sans-serif;
    color: #000000;
    font-size: 24px;
    text-align: center;
}










#add-message {
    border: 1px dashed #000000;
    max-width: 800px;
    margin: 10px auto;
}


.add-msg-btn {
    width: 10%;
    height: 90%;
    font-size: 16px;
    background-color: #66cdaa;
    color: #FFFFFF;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    margin: 5px auto;
}










.new-blog-entry {
    max-width: 800px;
    height: auto;
    border: 3px dashed #00b7ef;
    margin: 10px auto;
    overflow: hidden;
}


.date {
    font-family: 'Poiret One', cursive;
    color: #000000;
    font-size: 16px;
    margin-left: 5px;
    margin-top: -10px;
    /*background-color: #FFFFFF;*/
}


.title-input {
    float: left;
    margin: 30px 10px 5px 10px;
}


textarea {
    height: 100px;
    margin: 5px 10px;
	width: 95%; 
}


.author-input {
    float: right;
    position: relative;
    margin: 5px 10px 20px 0px;
}










.blue-box {
    max-width: 800px;
    height: auto;
    border: 3px solid #00b7ef;
    margin: 10px auto;
}


.blog-title {
    font-family: 'Anton', sans-serif;
    color: #00b7ef;
    font-size: 30px;
    float: left;
    margin: 30px 10px 5px 10px;
}


.blog-text {
    font-family: 'Arial', sans-serif;
    color: #c1bfc0;
    font-size: 16px;
    margin: 5px 10px;
	width: 95%;
}


.signature {
    font-family: 'Pinyon Script', cursive;
    color: #000000;
    font-size: 24px;
    float: right;
    position: relative;
    margin: 5px 10px 20px 0px;
}










#confirm-message {
    border: 1px dashed #000000;
    max-width: 800px;
    margin: 10px auto;
}


.cancel-btn {
    width: 10%;
    height: 90%;
    font-size: 16px;
    background-color: #ff0000;
    color: #FFFFFF;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    margin: 5px 2px;
    display: inline-block;
}


.confirm-btn {
    width: 10%;
    height: 90%;
    font-size: 16px;
    background-color: #66cdaa;
    color: #FFFFFF;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    margin: 5px 2px;
    display: inline-block;
}


.btn-container {
    text-align: center;
}





/*}*/