<!DOCTYPE html>

{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Billboard</title>
	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
	<link href="{% static 'css/billboard.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div class="main">



    <div id="headline">
        <p class="page-title">BILLBOARD</p>
    </div>



    <div id="login">
        {% if user.is_authenticated %}
            <a href="{% url 'new_post' %}" class="top-menu"></span></a>
            <p class="top-menu">Hello {{ user.username }}
            <small>(<a href="{% url 'logout' %}">Logout</a>)</small></p>
        {% else %}
            <a href="{% url 'login' %}" class="top-menu"></span></a>
        {% endif %}
    </div>



    {% if post_list %}
	    {% for entry in post_list %}
            <div id="post-list" class="blue-box">
                <div class="date"> {{ entry.published_date.day }}/{{ entry.published_date.month }}/{{ entry.published_date.year }} </div>
                <div class="blog-title"> {{ entry.title }} </div>
		        <div class="blog-text"> {{ entry.text }} </div>
		        <div class="signature"> {{ entry.author }} </div>
            </div>
		{% endfor %}

	{% else %}

        <div id="no-messages">
            <p class="no-messages">No messages...<br/>Click the '+' to button to add a new message.</p>
        </div>

    {% endif %}



    <div id="add-message">
        <div class="add-msg-btn">
            <div class="hvr-pulse-grow">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </div>
        </div>
    </div>



    <form id="new-msg-entry-form" action="/billboard/new_post/" method="POST">

    {% csrf_token %}

        <!--<div class="date"> {{ Post.published_date.day }}/{{ published_date.month }}/{{ published_date.year }} </div>-->
        <div class="new-blog-entry">
            {{ form.as_p }}
        </div>


        <div id="confirm-message">
            <div class="btn-container">
                <div class="cancel-btn"><i class="fa fa-times" aria-hidden="true"></i></div>
                <div class="confirm-btn"><input class="input" type="submit" /><i class="fa fa-check" aria-hidden="true"></i></div>
            </div>
        </div>
    </form>



</div>

<script src="{% static 'js/lib/jquery-3.1.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/billboard.js' %}" type="text/javascript"></script>

</body>
</html>